body {
	margin: 0;
	padding: 0;
	background-color: #000;
	height: 100%;
	overflow: hidden;
}

#footer {
	position: absolute;
	z-index: 999;
	color:#FFF;
	bottom: 10px;
	left:10px;
	height: 30px;
}

#footer h3 
{
	float: left;
	padding-right: 80px;
	font-size:16px;
	font-family: "Apple Chancery", Arial;
}